.navbar{
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

}
.navbar ul {
  display: flex;
  list-style: none;

}
.navbar ul li {
  margin-right: 1rem;

}

.signup-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.signin-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
.username-input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(54, 54, 54, 0.87);
  background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.password-input{
  padding: 0.5rem;
  margin: 0.5rem;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.btn {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-layout{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 10px;
  height: 100vh;
  background-color: rgb(37, 37, 37);
}
.container .card {
  background-color: rgb(90, 90, 90);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content {
  color: #ffffff;
}
.main-header{
  background-color: rgb(37, 37, 37);
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.collapse-button{
  background-color: rgb(37, 37, 37);
  color: #ffffff;
}

.container .add-input{
  padding: auto;
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.list-btn{
  margin: 0px;
  padding: auto;
  position: sticky;
}
.edit-input{
  padding: auto;
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

